p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #4B3030;
    height: 7.25rem; 
    width: 31.13rem;
    padding-left: 1rem;
}

.banner-container{
    background: url("../images/bagels.png") no-repeat;
    background-size: 100%;
}

.intro-container__all{
    width: 100vw;
    margin-top: 3rem;
}

.intro-container__all > div,
.mid-container__all > div {
    display: inline-block;
    /* border: 1px dotted black; 
    <-- Border for positioning only -->  */
    vertical-align: top;
    height: 56vh;
}


.intro-container1 {
    background: url("../images/loxbagel.png") left 60% bottom 44%; 
    width: 40%;
    margin-left: 7.5rem;
}

.intro-container2,
.mid-container2 {
    width: 40%;
    padding-left: 1rem;
}

h1 {
    margin-bottom: auto;
}

#view-menu-button {
    height: 3.8rem;
    width: 15.16rem;
    border-radius: 30.68px;
    background: #0A3C9D;
    box-shadow: 5.78px 4.63px 11.57px 0px #0B3B98 44%;
    filter: drop-shadow(5.78947px 4.63158px 11.5789px rgba(11, 59, 152, 0.44));
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color:#E3A0A0;
    margin: 3.5rem 0 0 1rem;
} 

#view-menu-button-link {
    text-decoration: none;
    height: 1.8rem;
    width: 6.4rem;
    left: 50rem;
    top: 46.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: #E3A0A0;
} 


.mid-container__all {
    margin-top: 4.8rem;
}

.mid-container1 {
    width: 40%;
    margin-left: 5.5rem;
}

#home-bgl-img {
    width: 31.75rem;
    height: 21.5rem;
    border: 1px solid #6A6868;
    box-shadow: 20px 22px #0B3B98;
    box-sizing: border-box;
    position: absolute;
    right: 10%;
} 

.reviews-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30.6rem;
}

.reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25rem;

}

.review-element {
    display: flex;
    flex-direction: column;
    width: 32.5rem;
}

.review-element.last {
    margin-left: -1.25rem;
}

.review-desc {
    width: 18.5rem;
    height: 12.62rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #000000;
    margin: 0 auto 0 auto;
    text-align: center;
}

.reviews-header {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    padding-left: 5.62rem;
    font-size: 2.25rem;
}

.review-stars {
    margin: auto;
    width: 19.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
}

/* <-- For screen size of 752px or less --> */

@media (max-width: 47rem) {
    
    #banner_img {
        height: auto; 
    }

    .intro-container__all > div,
    .mid-container__all > div {
        display: block;
        margin: auto;
        text-align: center;
        height: 53vh;
    }

    .intro-container1 {
        width: 80%;
    }

    .intro-container2 {
        width: 80%;
        padding: 0;
    }

    p {
        padding: 0;
    }

    #view-menu-button {
        margin-top: 3.5rem;    
    }

    .mid-container1 {
        width: 80%;
    }

    .mid-container2 {
        width: 80%;
        padding: 0;
    }

    .reviews-cont {
        display: block;
        height: auto;
    }

    .reviews {
        display: block;
        height: auto;
        width: 80%;
        margin: 1rem auto auto auto;
    }

    .reviews-header {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .review-element,
    .review-element.last {
        margin: 3rem 0rem;
        width: 100%;
    }
}
