p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    color: #4B3030;
    height: 116px; 
    width: 498px;
}

#banner_img {
    width: 100%;
    margin-top: 100px;
    position: relative;
    z-index: -1;
}


div {
    /* overflow: hidden; */
    height: 490px;
}

.home__intro {
    position: relative;
}

#lox-bagel {
    position: absolute;
    display: inline-block;
    width: 763px;
    height: 506.68 px;
    bottom: 5%;
}

div > h1{
    position: absolute;
    right: 15%;
} 

.intro-text{
    position: absolute;
    right: 17%;
    top: 17%;
}

.mid-desc {
    position: relative;
}

div > h2 {
    position: absolute;
    left: 10%;
}

.mid__text {
    position: absolute;
    left: 10%;
    bottom: 51%; 
}

#home-bgl-img {
    width: 508px;
    height: 344px;
    border: 1px solid #6A6868;
    box-shadow: 20px 22px #0B3B98;
    box-sizing: border-box;
    position: absolute;
    right: 10%;
}

#view-menu-button {
    height: 61.37px;
    width: 242px;
    border-radius: 30.68px;
    background: #0A3C9D;
    box-shadow: 5.78px 4.63px 11.57px 0px #0B3B98 44%;
    filter: drop-shadow(5.78947px 4.63158px 11.5789px rgba(11, 59, 152, 0.44));
    position: absolute;
    right: 35%;
    bottom: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color:#E3A0A0;
}

/* #view-menu-button-link {
    text-decoration: none;
    height: 30px;
    width: 102px;
    left: 789px;
    top: 744px;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3A0A0;
} */

.reviews-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1540px;
    height: 490px;
}

.reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.review-element {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.review-desc {
    width: 295px;
    height: 202px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.reviews-header {
    margin-left: 125px;
    font-size: 36px;
    color: #0A3C9D;
    width: 290px;
    height: 64px;
    left: 122px;
    top: 1468px;
    margin-bottom: 0px;
}

.review-stars {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 67px;
    margin-top: 90px;
}

#view-menu-button-link {
    text-decoration: none; 
    color:#FFB6AD;
    display: block;
}