#banner_img {
    width: 100%;
    height: 22.5rem;
    margin-top: 3.12rem;
}

.main-container {
    text-align: center;
    margin-top: 3.12rem;
}

.our-story-container__text,
.our-story-container__img,
.who-container__text,
.who-container__img {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}

#color-logo {
    width: 16.18rem;
    height: 16.31rem;
    margin: 2.87rem 5.9rem 0 0;
}

.our-story-container__text{
    width: 37.5rem;
    text-align: left;
    margin-top: 2.87rem;
    font-size: 1.3rem;
}

h1,
h2 {
    margin: 0;
}

p{
    margin: 0.3rem;
}

.who-container {
    margin-top: 3.12rem;
}

.who-container__text {
    width: 30rem;
    text-align: left;
    margin-right: 1.87rem;
    font-size: 1.3rem;
}

.main-container p {
    margin-top: 1rem;
}

#button-container{
    margin-bottom: 5rem;
}

#catering-banner {
    width: 31.6rem;
    height: 18.4rem;
    box-shadow: 18px 20px #0B3B98;
}

#view-menu-button {
    height: 4.39rem;
    width: 17.25rem;
    border-radius: 30.68px;
    box-shadow: 5px 10px 26.8px 0px;
    background: #0B3B98 25%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.56rem;
    letter-spacing: 0em;
    color:#FFB6AD;
    text-align: center;
    margin-top: 0.62rem;
}

#view-menu-button-link {
    text-decoration: none; 
    color:#FFB6AD;
    display: block;
}