#banner_img {
    width: 100%;
    margin-top: 100px;
    position: relative;
    z-index: -1;
}

/* .menu-cont {
    border:1px solid black;
} */

.menu-header-cont {
    text-align: center;
}

.menu-bkfast-lunch {
    border:1px solid black;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.header.pink-bg {
    text-align: center;
    color: #0A3C9D;
    background-color: #FFB6AD;
    padding-top: 38px;
    padding-bottom: 38px;
    margin: 0;
}

.header.blue-bg {
    text-align: center;
    color:#FFB6AD; 
    background-color: #0A3C9D;
    padding-top: 38px;
    padding-bottom: 38px;
    margin: 0;
}

#bakery-header {
    text-align: left;
    width: 543px;
    height: 102px;
    padding: 18px 0 18px 67px;
}

.menu-bkfast-lunch.left {
    width: 610px;
    background-color: lightgreen;
    margin: 0 0 auto 100px;
}

.bakery-cont {
    /* border:1px solid black; */
    height: 628px;
    width: 610px;
}

.menu-bkfast-lunch.right {
    background-color: lightgoldenrodyellow;
    margin: 0 100px auto 0;
    width: 610px;
}
.bkfast-specials-cont {
    width: 610px;
    height: 1066px;
}